body{
  background-image: url("marble_plant.jpg");
  text-align: center;
}
#breathe_in{
  text-align: center;
  width:500px;
  height:550px;

}

h1{
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  color: #000000;
  margin-top: auto;
}


.topnav a {
    float: middle;
    color: #white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #D6EAF8;
    color: black;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
