body {
  background-image: url('marble_plant.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 80px;
  font-family: 'Libre Caslon Display', serif;
  color: #000000;
  margin-top: auto;
}

h2{
  font-size: 60px;
  font-family: 'Poiret One', cursive;
  color: #000000;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  color: #000000;
  text-align: center;
}
#onthispage{
  width:300px;
  text-align: justify;
  font-size: 1.3em;
  font-family: 'Poiret One', cursive;
  margin-top: 0px;
  color: #000000;
}

.mh_info {
  width: 800px;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color: #000000;
}



.topnav a {
  float: middle;
  color: #white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D6EAF8;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
