body{
  background-image: url('yellow_marble.jpeg');
  margin-right: 200px;
  font-family: Poiret One, cursive;
  font-size: 25px;
  font-weight: bold;
}
h1{
  font-family: Poiret One, cursive;
  font-size: 40px;
}

h3{
  font-size: 30px;
}
